@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: #fff;
  --text: #050505;
  --background: #fafafa;
  --primary: #597042;
  --secondary: #efefdc;
  --accent: #768980;
  --accent-light: #7689801e;
  --bg: #ffffffe9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  display: flexbox;

  scroll-snap-type: y;
  scroll-behavior: smooth;

  ::-webkit-scrollbar-track {
    background-color: var(--accent-light);
    border-radius: 1.3%;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 1%;
  }

  transition: all 0.3s ease-in-out;

  [data-theme="dark"] {
    transition: all 0.2s ease;

    --white: #000000;
    --text: #fff;
    --background: #141416;
    --primary: #9dc674;
    --secondary: #efefdc;
    --accent: #a7c1b5;
    --accent-light: #768980;
    --bg: #141416b0;

    color: var(--text);
    background-color: var(--background);
  }

  [data-theme="light"] {
    transition: all 0.5s ease;
  }
}

body {
  overflow-y: auto;
  overflow-x: scroll;
  @media screen and (max-width: 580px) {
    overflow-y: scroll;
  }
}

.scrollin ::-webkit-scrollbar {
  width: 5px;
}
.scrollin ::-webkit-scrollbar-track {
  background-color: var(--accent-light);
  border-radius: 1.3rem;
}
.scrollin ::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 1rem;
}
.CardContainer {
  height: 250px;
  width: 300px;
  min-width: 300px;
}
.Card {
  position: relative;
  display: grid;
  background-color: var(--bg);
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

.hovCard {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 0%;
  width: 0%;
  top: 50%;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.78);
  animation: dow;
  color: white;
}

.hovCard p,
.hovCard div {
  visibility: hidden;
}

.Card:hover .hovCard {
  visibility: visible;
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 0;
}

.Card:hover .hovCard p,
.Card:hover .hovCard div {
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.tecs {
  position: relative;
  display: flex;
  left: 2rem;
  bottom: 0;
}

.Card:hover .tecs {
  bottom: 0;
  display: flex;
  height: 2rem;
}

/* repsonsive */

@media (max-width: 980px) {
  .Resp {
    display: none;
  }
}
